body {
    background-color: gainsboro;
}

header {
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    padding: 3px 3px;
}

#thoughts {
    color: cornflowerblue;
}

#user {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    border: 3px solid brown;
    width: 40%;
    padding: 13px 13px;
    
}

.button {
    overflow: hidden;
    background-color: black;
}

.button {
    float: right;
    color: white;
    text-align: center;
    padding: 21px 27px;
    text-decoration: none;
    font-size: 23px;
}

.button :hover {
    background-color: green;
    color: yellow;
    
}

.button :active {
    background-color: red;
    color: white;
    
}

#grid {
    display: grid;
    grid-template-areas: 
        ''
    
}

#workArea {
    grid-area: main;
    background-color: white;
    width: 42%;
    height: 80%;
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    float:left;
    padding: 13px 11px;
}

#workArea2 {
    grid-area: main;
    background-color: white;
    width: 42%;
    height: 80%;
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    float:left;
    padding: 13px 11px;
}

#left {
    grid-area: left;
    background-color:white;
    width: 20%;
    float: left;
    border: 3px solid green;
    border-radius: 10px;
    padding: 21px 13px;
}

#centerLeft {
    grid-area: left;
    background-color:white;
    width: 20%;
    float: left;
    border: 3px solid green;
    border-radius: 10px;
    padding: 21px 13px;
}

#centerRight {
    grid-area: rig;
    background-color:white;
    width: 20%;
    float: left;
    border: 3px solid green;
    border-radius: 10px;
    padding: 21px 13px;
}

#right {
    grid-area: menu;
    background-color: white;
    width: 20%;
    float: left;
    border: 3px solid green;
    border-radius: 10px;
    overflow: hidden;
    padding: 21px 13px;
}