<!DOCTYPE html> 
<html lang="eng-US">
<head>
	<title>List of Possible Themes</title>
</head>  
<body>
    <h2>Add a Theme</h2>
<div id="addTheme">
    <input type="text" id="newTheme">
    <input type="button" onclick="addTheme()" value="Add Theme">
</div>
</body>
</html>