<!DOCTYPE html> 
<html lang="eng-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>New Note</title>
	<link rel="stylesheet" type="text/css" href="eventTracker.css">
	<script type="text/javascript" src="eventTracker.js"></script>
	<style></style>
</head>  
<body>
<h2>Entry:</h2>
    <div id="theme">
    </div>
<br>
    <div id="entry">
    </div>
<br>
    <div id="notes">
    </div>
</body>
</html>
