<!DOCTYPE html>
<html>
<head>
	<title>Last Entry</title>
</head>  
<body>
    <b>Entry ID:</b> <%= ID %><br>
    <b>Date of Entry:</b> <%= date %><br>
    <b>Date of Event:</b> <%= timeline %><br><br>
    <b>Entry:</b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= content %>
    <br><br>
    
</body>
</html>


