<!DOCTYPE html> 
<html lang="eng-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>New Entry</title>
	<link rel="stylesheet" type="text/css" href="eventTracker.css">
	<script type="text/javascript" src="eventTracker.js"></script>
	<style></style>
</head>  
<body>
<h2>New Entry:</h2>
<form method="POST" action="newEntry()">
    <div id="theme">
    </div>
<br>
    <b>Enter new Entry:</b><br>
    <b>Date of Entry: </b><input type="date" name="newEntryDate"><br>
    <input type="textarea" style="width: 80%; height: 25%;" name="newEntry"><br>
    <input type="button" onclick="addEntry()" value="Create Entry">
</form>
</body>
</html>