<!DOCTYPE html> 
<html lang="eng-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>New Note</title>
	<link rel="stylesheet" type="text/css" href="eventTracker.css">
	<script type="text/javascript" src="eventTracker.js"></script>
	<style></style>
</head>  
<body>
<h2>New Note:</h2>
<form method="POST" action="newEntry()">
    <b>Enter new Note:</b><br>
    <input type="textarea" style="width: 600px; height: 200px;" name="newEntry"><br>
    <b>Date of Note: </b><input type="date" name="newEntryDate"><br>
    <input type="submit" value="Create Note">
</form>
</body>
</html>