<!DOCTYPE html>
<html>
<head>
	<title>Last Entry</title>
</head>  
<body>
    <b>Note ID:</b> <%= paramsADD[0].noteID %><br>
    <b>Date of Note:</b> <%= paramsADD[0].noteDate %><br>
    <b>Addtions Note:</b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= paramsADD[0].noteContent %>
    <br><br>
    
</body>
</html>

